<!doctype html>
<html>
<head>
    <title>ATM Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the ATM</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item"><a href="{{ url_for('create_account') }}">Create Account</a></li>
            <li class="list-group-item"><a href="{{ url_for('view_balance') }}">View Balance</a></li>
            <li class="list-group-item"><a href="{{ url_for('deposit') }}">Deposit</a></li>
            <li class="list-group-item"><a href="{{ url_for('withdraw') }}">Withdraw</a></li>
            <li class="list-group-item"><a href="{{ url_for('delete_account') }}">Delete Account</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
